<template name="admin">

  {{#if isAdmin}}

    {{> newPost}}

  {{else}}
    <div class="login-buttons">
      {{> loginButtons}}
    </div>
    <div style="height: 90vh;"></div>
  {{/if}}
</template>



<template name="newPost">
  <div class="container new-post-container">
    <h2>New Post</h2>
    <div class="jumbotron">
      <h3>Styling Rules</h3>
      <ol>
        <li>The "magic wand" in the top left is how you change format.</li>
        <li>Articles should not contain "Header 1" or "Header 2".</li>
        <li>Do not include the document title in the body: enter it in the input box above the body.</li>
        <li>All articles must have at least one category.</li>
        <li>Images within the body should be in a "thumbnail".</li>
        <li>All articles must have a "featured" image for the thumbnail.</li>
        <li>Description must be at least two sentences. This is what will display on homepage.</li>
      </ol>
    </div>
    <form>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <div class="form-group">
            <input type="text" class="form-control" id="title" placeholder="Title">
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <div class="form-group">
            <input type="text" class="form-control" id="subtitle" placeholder="Subtitle (optional)">
          </div>
        </div>
        <div class="col-xs-12 col-sm-2">
          <button class="btn btn-primary" id="dear-biggie" style="margin-top:0rem;">Dear Biggie?</button>
        </div>
      </div>
      {{#if dearBiggie}}
      <div class="row" style="margin-bottom:1.5rem;">
        <div class="form-group">
          <div class="col-xs-12 col-sm-6">
            <input type="text" id="letter" class="form-control" placeholder="Letter">
          </div>
          <div class="col-xs-12 col-sm-6">
            <input type="text" id="attribution" class="form-control" placeholder="Attribution">
          </div>
        </div>
      </div>
      {{/if}}
      <div class="row">
        <div class="col-xs-12">
          <textarea placeholder="Description" id="description" style="width:100%;"></textarea>
        </div>
      </div>
      <div class="row valign-wrapper">
        <div class="col-xs-12 col-sm-6">
          <img src="{{tempImage}}" alt="" class="filepicker-image">
        </div>
        <div class="col-xs-12 col-sm-6">
          <button class="btn btn-primary btn-lg" id="image">Add Featured Image</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="text-align:center;">
          <div class="form-group">
            <label class="category-checkbox">
              <input type="checkbox" id="biggie"> Dear Mr. Biggie
            </label>
            <label class="category-checkbox">
              <input type="checkbox" id="inquiry"> General Inquiry
            </label>
            <label class="category-checkbox">
              <input type="checkbox" id="advice"> Unsolicited Advice
            </label>
            <label class="category-checkbox">
              <input type="checkbox" id="featured"> <b>Featured</b>
            </label>
          </div>
        </div>
      </div>
    </form>
    <div id="summernote">Hello Summernote</div>
    <!-- This is where categories go -->
    <button id="submit" class="btn btn-primary btn-lg" style="margin:2rem 0;">Submit</button>
  </div>
</template>
