.inquiry-row {
  list-style-type: none;
  img {
    width: 100%;
    max-height: 15rem;
  }
  h4 {
    a {
      color: black;
      &:hover {
        color: lighten(black, 40%);
      }
    }
  }
}

.login-buttons {
  margin-left: 45%;
  list-style-type: none;
}
