.new-post-container {
  h2 {
    text-align: center;
    padding-bottom: 2rem;
  }
}

.category-checkbox {
  padding: 1rem 3rem;
}

.filepicker-image {
  width: 100%;
  border: 1px solid #777;
  border-radius: 5px;
}
