@import "bourbon/bourbon";

@import url(http://fonts.googleapis.com/css?family=Lobster+Two);
$font-title: 'Lobster Two', cursive;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
$font-stack: 'Open Sans', sans-serif;

@import "frame";
@import "navbar";
@import "homepage";
@import "biggie";
@import "inquiry";
@import "newPost";

body {
  font-family: $font-stack;
  margin: 15px;
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 32px;
    padding-bottom: 1rem;
  }
  h4 {
    font-size: 28px;
    padding-bottom: 0.5rem;
  }
  p {
    font-size: 16px;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

/* @each \$classname in <image and class name list> {
  .#{\$classname}-background {
    background: url(/background/#{\$classname}.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 92vh;
    width: 100%;
    position: relative;
  }
} */

.valign-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .valign {
    display: block;
  }
}
