<template name="inquiryLanding">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-9">
      {{#each inquiryPost}}
      <ul>
        {{> _inquiryRows}}
      </ul>
      {{/each}}
    </div>

    <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
      {{> adverts}}
    </div>
  </div>
</template>


<template name="_inquiryRows">
  <li class="inquiry-row">
    <div class="row valign-wrapper">
      <div class="col-sm-3">
        <img src="/pic.png" alt="">
      </div>
      <div class="col-sm-6">
        <h4><a href="{{pathFor 'inquiry'}}">{{title}}</a></h4>
      </div>
      <div class="col-sm-3">
        <span>{{formatDate date}}</span>
      </div>
    </div>
    <hr>
    </li>
</template>
