<template name="inquiryLanding">
  <div class="row">

    <div class="col-sm-12 col-md-8 col-lg-9">
      {{> _inquiryRows}}

    </div>

    <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
      {{> adverts}}
    </div>
  </div>
</template>


<template name="_inquiryRows">
  <ul>
    <li class="inquiry-row">
      <div class="row valign-wrapper">
        <div class="col-sm-3">
          <img src="/pic.png" alt="">
        </div>
        <div class="col-sm-3">
          <h4><a href="">Title of the article</a></h4>
        </div>
        <div class="col-sm-3">
          <span>Date of article</span>
        </div>
        <div class="col-sm-3">
          <span>something else?</span>
        </div>
      </div>
      <hr>
    </li>

    <li class="inquiry-row">
      <div class="row valign-wrapper">
        <div class="col-sm-3">
          <img src="/pic.png" alt="">
        </div>
        <div class="col-sm-3">
          <span><a href="">Title of the article</a></span>
        </div>
        <div class="col-sm-3">
          <span>Date of article</span>
        </div>
        <div class="col-sm-3">
          <span>something else?</span>
        </div>
      </div>
      <hr>
    </li>

    <li class="inquiry-row">
      <div class="row valign-wrapper">
        <div class="col-sm-3">
          <img src="/pic.png" alt="">
        </div>
        <div class="col-sm-3">
          <span><a href="">Title of the article</a></span>
        </div>
        <div class="col-sm-3">
          <span>Date of article</span>
        </div>
        <div class="col-sm-3">
          <span>something else?</span>
        </div>
      </div>
      <hr>
    </li>

  </ul>
</template>
