<template name="layout">
	<div id="wrap">
		{{> navbar}}
		{{> yield}}
		<div id="left"></div>
		<div id="right"></div>
		<div id="top"></div>
		<div id="bottom"></div>
	</div>
	<div id="footer">
		<div class="container">
			<p class="text-muted">
				© The Daily Stag Hunt, 2015
			</p>
		</div>
	</div>
</template>

<head>
	<title>The Daily Stag Hunt</title>

	<!-- <link rel="icon" type="image/png" href="http://example.com/myicon.png"> -->

	<!-- If mobile, use this tag -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes"> -->
</head>
